<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>OmniPhoto</string>
    <key>CFBundleIdentifier</key>
    <string>com.cullen.omniphoto</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OmniPhoto</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026. All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.photography</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>OmniPhoto 需要访问您的照片库，以实现照片的自动归档、按年月分类以及识别重复项。所有操作均在本地完成，不会上传任何数据。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>OmniPhoto 需要将整理后的照片保存到您指定的归档目录中。</string>
</dict>
</plist>
